<header role="banner">
	<h1><a href="/"><img src="{{ theme_url }}/images/logo.png" alt="D2DRAFT &quot;Dev &amp; Design Draft&quot;"></a></h1>
	<nav role="navigation">
		<ul>
			<li><a href="#about">D2DRAFTって？</a></li>
			<li><a href="#events">イベント</a></li>
			<li class="external"><a href="https://d2draft.doorkeeper.jp/">イベント一覧<img src="{{ theme_url }}/images/icon_external.png" alt="別サイトに移動します。"></a></li>
			<li><a href="#inquiry">お問合せ</a></li>
		</ul>
	</nav>
</header>