<aside>
    <ul>
        <li><a href="https://www.facebook.com/groups/192199647655920/"><img src="{{ theme_url }}/images/icon_facebook_f.png" alt="D2DRAFTのFacebookグループページに移動します。"></a></li>
        <li><a href="https://twitter.com/d2draft_pr"><img src="{{ theme_url }}/images/icon_twitter_f.png" alt="D2DRAFTのTwitterアカウントページに移動します。"></a></li>
    </ul>
</aside>