{% extends 'partials/base.html.twig' %}

{% block content %}
    <div id="error" class="message">
        <div>
            <h1>Error {{ page.header.http_response_code }}</h1>
                {{ page.content|t }}
        </div>
    </div>
{% endblock %}
