{% extends 'partials/base.html.twig' %}

{% block content %}
    <div id="error" class="message">
            <h2>Error {{ page.header.http_response_code }}</h2>
                {{ page.content|t }}
    </div>
{% endblock %}
